* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FDFDFF;
  font-family: sans-serif;
}

html, body, main {
  width: 100%;
  height: 100%;
}

body {
  background-color: #E07A5F;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes swingingPicture {
  0% {
    transform: rotate(10deg);
    transform-origin: top left;
  }
  50% {
    transform: rotate(0deg);
    transform-origin: top left;
  }
  100% {
    transform: rotate(10deg);
    transform-origin: top left;
  }
}
.linkPicture {
  margin-top: 15px;
}

#picture {
  width: 150px;
  height: 200px;
  background-color: #363537;
  position: relative;
  border: 10px solid #363537;
  box-shadow: 3px 3px 3px #363537;
  animation-name: swingingPicture;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}
#picture .glass {
  width: 100%;
  height: 100%;
  background-color: rgba(253, 253, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 15px #35CE8D;
}
#picture .glass #logo {
  width: 100px;
  height: 100px;
  background-image: url(../img/myLogo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#clock {
  width: 230px;
  height: 230px;
  background-color: #FDFDFF;
  border: 10px solid #363537;
  box-shadow: inset 0 0 10px #35CE8D;
  border-radius: 125px;
  position: relative;
  display: flex;
}
#clock .dash {
  border: 2px solid #363537;
  background-color: #363537;
  box-shadow: 1px 1px 2px #363537;
  width: 25px;
  position: absolute;
}
#clock .dash#dash1 {
  transform: rotate(90deg);
  top: 15px;
  left: 0;
  right: 0;
  margin: auto;
}
#clock .dash#dash3 {
  transform: rotate(180deg);
  align-self: center;
  right: 5px;
  margin: auto;
}
#clock .dash#dash6 {
  transform: rotate(270deg);
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
}
#clock .dash#dash9 {
  transform: rotate(180deg);
  align-self: center;
  left: 5px;
  margin: auto;
}
#clock #dot {
  border-radius: 30px;
  background-color: #363537;
  width: 15px;
  height: 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 1px 1px 2px #363537;
  position: absolute;
  z-index: 110;
}
#clock .dashTime {
  width: 75px;
  position: absolute;
  border-radius: 7px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 35%;
  margin: auto;
  transform-origin: right;
  transform: rotate(90deg);
}
#clock #dashHour {
  height: 7px;
  background-color: #35CE8D;
  z-index: 98;
}
#clock #dashMinutes {
  height: 3px;
  background-color: #363537;
  z-index: 99;
}
#clock #dashSeconds {
  height: 2px;
  background-color: #E07A5F;
  z-index: 100;
}
#clock #screenClock {
  display: inline-block;
  position: absolute;
  bottom: 40px;
  right: 35px;
  padding: 3px 5px;
  font-size: 0.9em;
  font-weight: bold;
  border: 3px solid #363537;
  box-shadow: inset 0 0 4px #35CE8D;
  border-radius: 3px;
  background-color: #363537;
}
#clock #screenClock span {
  color: #E07A5F;
}

/*# sourceMappingURL=style.css.map */
